.createPromptMain{
position: absolute;
background: #929292;
border: #4a4949 solid 10px;
width: 1431px;
height: 600px;
top: 130px;
}
.dropZone{
    border: white solid 4px;
    /* padding: px;    */
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}