.topMenu{
position: absolute;
background: #929292;
border: #4a4949 solid 10px;
width: 1431px;
height: 60px;
top: 130px;
}

.btnT{
position: absolute;
top: 10px;
left: 50px;
background: #414141;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
border-radius: 5px;
width: 90px;
height: 40px;
}

.btnN{
position: absolute;
top: 10px;
left: 160px;
background: #414141;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
border-radius: 5px;
width: 90px;
height: 40px;
}   

.btnR{
position: absolute;
top: 10px;
left: 270px;
background: #414141;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
border-radius: 5px;
width: 90px;
height: 40px;
} 

.btnTe{
position: absolute;
top: 10px;
left: 380px;
background: #414141;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
border-radius: 5px;
width: 90px;
height: 40px;
}

.btnB{
position: absolute;
top: 10px;
left: 490px;
background: #414141;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
border-radius: 5px;
width: 90px;
height: 40px;
}

.btnW{
position: absolute;
top: 10px;
left: 600px;
background: #414141;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
border-radius: 5px;
width: 90px;
height: 40px;
}

.btnRp{
position: absolute;
top: 10px;
left: 710px;
background: #414141;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
border-radius: 5px;
width: 90px;
height: 40px;
}

.btnE{
position: absolute;
top: 10px;
left: 820px;
background: #414141;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
border-radius: 5px;
width: 90px;
height: 40px;
}

.btnT{
position: absolute;
top: 10px;
left: 930px;
background: #414141;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
border-radius: 5px;
width: 90px;
height: 40px;
}

.btnAr{
position: absolute;
top: 10px;
left: 1040px;
background: #414141;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
border-radius: 5px;
width: 90px;
height: 40px;
}

.btnAb{
position: absolute;
top: 10px;
left: 1150px;
background: #414141;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
border-radius: 5px;
width: 90px;
height: 40px;
}

.main{
    background: #414141;
    position: absolute;
    width: 1451px;
    height: 600px;
    top: 210px;
    flex-wrap: wrap;
}